In [7]:
# A dictionary of high schools and the tyoe of school.
high_school_types = [{"High School": "Griffin", "Type": "District"}, 
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"}, 
                     {"High School": "Wright", "Type": "Charter"}]
for high_school in high_school_types:
    print(high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [ ]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Thomas High School"]

In [ ]:
#Add the Pandas dependency
import pandas as pd

In [ ]:
#Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series
for school in school_series:
    print(school)

In [5]:
# A dictionary of High Schools
High_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"}, 
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, 
                     {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"}, 
                     {"School ID": 3, "school_name": "Hernandez High School", "type": "District"}, 
                     {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [6]:
#Add the Pandas dependency
import pandas as pd

In [7]:
school_df = pd.DataFrame(High_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [31]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [35]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [36]:
#Add the list to a new DataFrame
schools_df["School_ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

#Print the DataFrame.
schools_df

   School_ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [57]:
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type':type_of_school}

In [58]:
import pandas as pd

In [59]:
# Initialize a new DataFrame
school_df = pd.DataFrame(high_schools_dict)

In [61]:
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [62]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [63]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [64]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [ ]:
school_ID = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District" "Charter"]